.container-exp {
    background-color: var(--black);
    color: var(--white);
    height: fit-content;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .world {
        width: 50px; 
        height: 50px;
    }
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-exp h1 {
    border-bottom: solid var(--white) 3px;
    width: 100%;
    overflow: hidden;
}

.content-exp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.p {
    max-width: 550px;
}

.card {
    border-top: 3px solid var(--white);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .card {
        padding: 20px 0px;
    }
}

.bottom-number {
    font-size: 64px;
    letter-spacing: -6px;
    margin-left: auto;
}

@media only screen and (max-width: 1024px) {
    .bottom-number {
        font-size: 48px;
    }
}

.item {
    background-color: var(--black);
}

.container-exp {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
}

.content-exp {
  position: relative;
  width: 100%;
  gap: 0px;
}

.item {
  position: relative;
  width: 100%;
  z-index: 1;
}

.card {
  border-top: 3px solid var(--white);
  padding: 40px 0px;
  background-color: var(--black);
  width: 100%;
}

.h1 {
  position: relative;
  z-index: 2;
}

.last-card {
    z-index: 5;
}