.footer {
    color: var(--white);
    background-color: var(--black);
    justify-content: center;
    padding: 40px 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 1000px) {
    .footer {
        padding: 20px 12px;
    }
}

.links-footer {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.links-footer a {
    color: var(--white);
}

.copy-right {
    display: flex;
    justify-content: space-between;
}

.btn-white {
    margin: auto;
}

.footer h2 {
    text-align: center;
    margin: 0px;
}

/* EXPANDING LINES */

.lines {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.line {
    width: 100%;
    background-color: var(--black);
    height: 10px;
}

.one {
    height: 2px;
}

.two {
    height: 3px;
}

.three {
    height: 5px;
}

.four {
    height: 6px;
}

.five {
    height: 8px;
}

.six {
    height: 10px;
}

/* EXPANDING LINES END */