.nav {
    display: flex;
    width: calc( 100% - 80px);
    justify-content: space-between;
    margin-left: 40px;
}
@media only screen and (max-width: 1024px) {
    .nav {
        width: calc( 100% - 24px );
        margin-left: 12px;
    }

    .links {
        display: none !important;
    }
}

.hamburger {
    margin-top: 8px;
    display: none;
}

@media only screen and (max-width: 1024px) {
    

    .logo-home {
        margin: auto;
    }

    .hamburger {
        display: block;
    }
    
}

/* MOBILE NAV */

    .mobile-nav {
        background-color: rgba(25, 25, 25, 1);
        backdrop-filter:blur(20px);
        width: 100vw;
        position:fixed;
        top: 0px;
        left: -100vw;
        height: 100%;
        display: block;
        
        z-index: 10;
        padding-top: 20px 0px;
    }

    .hamburger-light {
        margin: 12px;
        margin-top: 10px;
    }

    .links-mobile-nav {
        display: flex;
        color: var(--white);
        flex-direction: column;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto
    }

    .links-mobile-nav a {
        color: var(--white);
        text-transform:capitalize;
        font-size: 80px;
    }

/* MOBILE NAV END */