.card {
    background-color: var(--black);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    color: var(--white);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-heading {
    display: flex;
    justify-content: space-between;
}

.tag-holder {
    display: flex;
    gap: 10px
}

.tag {
    font-size: 20px;
    color: var(--black);
    padding: 12px 10px;
    background-color: var(--blue);
    width: fit-content;
    text-transform: uppercase;
}