.projects-home {
    width: calc(100%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
    .projects-home {
        width: calc(100%);
        padding: 20px 12px;
    }
}

.title-bar {
    width: 100%;
}

.detail-container {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
    .detail-container {
        flex-direction: column;
    }
}

.detail-container img {
    border-radius: 20px;
}

.img-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .img-mobile {
        display: block;
    }

    .img-desktop {
        display: none;
    }
}