.projects-home {
    width: calc(100%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 1300px) {
    .projects-home {
        width: calc(100%);
        padding: 20px 12px;
    }
}

.title-bar {
    width: 100%;
}

.detail-container {
    display: flex;
    background-color: var(--black);
    padding: 20px;
}

@media only screen and (max-width: 1300px) {
    .detail-container {
        flex-direction: column;
        padding: 10px;
    }

    .content-detail-card {
        gap: 40px
    }
}

/* PROJECT CARD */

.content-detail-card {
    color: var(--white);
    border: 3px solid var(--white);
}

.upper-half-card {
    text-transform: uppercase;
}

.title-card {
    font-size: 40px;
    font-family: "neue montreal bold", sans-serif;
}

@media only screen and (max-width: 1300px) {

    .title-card {
        font-size: 32px;
    }

}

.number-project {
    font-size: 20px;
}

.development-info {
    color: var(--black);
    background-color: var(--blue);
    padding: 10px 15px;
}

/* PROJECT CARD END */

